<div class="w-full h-screen overflow-y-scroll py-28 px-60 text-white" style="background-image: url('<%= image_url('dashboard-bg.jpeg')%>');">
  <h1 class="font-bold text-4xl font-lexendZetta">New zine</h1>
  <%= render "form", zine: @zine %>
  <a href="/admin"><button class="classic-button-2 cursor-pointer">Back</button></a>  
</div>
