<div class="min-h-screen w-screen flex justify-center text-white overflow-hidden py-16" style="background-image: url('<%= image_url('film-strip.jpeg')%>');">
    <h1>Order confirmation page</h1>
</div>