<%= javascript_include_tag "checkout.js" %>
<div class="h-screen w-screen flex justify-center text-white overflow-hidden py-16" style="background-image: url('<%= image_url('film-strip.jpeg')%>');">
    <form id="payment-form">
        <div id="payment-element">    
        </div>
        <button id="submit">
        <div class="spinner hidden" id="spinner"></div>
        <span id="button-text">Pay now</span>
        </button>
        <div id="payment-message" class="hidden"></div>
    </form>
</div>
