<link href="https://fonts.cdnfonts.com/css/impact" rel="stylesheet">
<style>
    .email, .ig {
        font-size: 5rem;
        line-height: 4rem;
    }

    @media (min-width: 1024px) {
        .email, .ig {
            font-size: 10rem;
            line-height: 9rem;
        }
    }
</style>
<div class="h-screen w-screen flex flex-col justify-start pt-20" style="word-wrap: break-word;">
  <section class="text-left" style="width: 100vw; font-size: 10rem;">
    <h1 style="font-family: impact" class="email font-lexendZetta hover:underline hover:cursor-pointer mb-20">
        <a href="mailto:someone@example.com">millicentperlapenner@gmail.com</a>
    </h1>
    <h1 style="font-family: impact" class="ig font-lexendZetta hover:underline hover:cursor-pointer">
        <a href="https://www.instagram.com/hailmillie666/">@hailmillie666</a>
    </h1>
  </section>
</div>