<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=M+PLUS+Rounded+1c&family=Orbitron:wght@400..900&family=Questrial&family=Reenie+Beanie&family=Righteous&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=UnifrakturCook:wght@700&display=swap" rel="stylesheet">
<div class="h-screen w-screen overflow-hidden">
    <%= render partial: ['shared/homepage/vivalasvegas', 'shared/homepage/swashbucklin', 'shared/homepage/tokyodrift', 'shared/homepage/boxer', 'shared/homepage/02', 'shared/homepage/women'].sample %>
</div>

