<style type="text/css">
  html {
    height: 100%;
    overflow: hidden;
  }

  body {
    height: 100%;    
    overflow-y: auto;
    margin: 0;
    background-image: url('<%= image_url('zines-index-bg.png')%>');    
    color: rgb(295, 295, 295);
  }
</style>

  <section class="flex flex-col text-center items-center mb-6" style="padding-top: 3rem;">
    <h1 class="font-kameron text-xl lg:text-4xl font-bold mb-4">ZINES</h1>
    <h3 class="font-kameron text-xl lg:text-2xl font-bold mb-4">Friend Application</h3>
    <h6 class="font-kameron text-xl lg:text-2xl">Self illustrated, written, photographed, published, and distributed</h6>
  </section>
  <section class="h-auto w-full">     
    <%= render partial: "zine_latest", locals: { zines: @zines, images: @images } %>
  </section>
  <section class="px-10 lg:px-24" style="padding-bottom: 3rem;">
    <h3 class="font-lexendZetta text-xl mb-6">Distributed at...</h3>
    <div class="w-full font-lexendZetta text-base">
      <div class="w-full flex flex-col lg:flex-row justify-between mb-6">
        <p class="mb-6 lg:mb-0">Donlon Books <br/>75 Broadway Market, E8 4PH</p>                    
        <p class="w-full lg:w-1/3">Rye Books <br/>47 N Cross Rd, SE22 9ET</p>          
      </div>
      <div class="w-full flex flex-col lg:flex-row justify-between mb-6">
        <p class="mb-6 lg:mb-0">BOOKS <br/>20 Maxted Rd, SE15 4FL</p>
        <p class="w-full lg:w-1/3">All Ages Records <br/>27A Pratt St, NW1 0BG</p>
      </div>
      <div class="w-full flex flex-col lg:flex-row justify-between mb-6">
        <p class="mb-6 lg:mb-0">Waste Store <br/>270 Hackney Road, E2 7SD</p>
        <p class="w-full lg:w-1/3">Flashback Records<br/>26 Topsfield Parade, N8 8PT</p>
      </div>
      <div class="w-full flex flex-col lg:flex-row justify-between mb-6">
        <p class="mb-6 lg:mb-0">Houseman&apos;s <br/>5 Caledonian Rd, N1 9DY</p>
        <p class="w-full lg:w-1/3">Jam Books <br/>61A Hackney Rd, E2 7NX</p>
      </div>
      <div class="w-full flex flex-col lg:flex-row justify-between mb-6">
        <p class="mb-6 lg:mb-0">Boom Cat Books <br/>70 Camden Lock, NW1 8AF</p>      
        <p class="w-full lg:w-1/3">Freedom Press <br/>84b Whitechapel High St, E1 7QX</p>
      </div>
      <div class="w-full flex flex-col lg:flex-row justify-between mb-6">
        <p class="mb-6 lg:mb-0">Review Bookshop <br/>131 Bellend Road, SE15</p>
        <p class="w-full lg:w-1/3">Chener Books <br/>14 Lordship Ln, SE22 8HN</p>
      </div>      
      <div class="w-full flex flex-col lg:flex-row justify-between mb-6">
        <p>Burley Fischer <br/>400 Kingsland Rd, E8 4AA</p>
      </div>
    </div>
  </section>


