<div class="h-screen w-full text-white bg-cover" style="background-image:  url(<%= rails_blob_url(@zine.background_image) %>)">
  <div class="bg-black bg-opacity-20">  
    <%= render @zine %>
  </div>
</div>
