<div class="w-screen h-screen overflow-y-scroll px-10 py-28 lg:px-60 text-white" style="background-image: url('<%= image_url('star-bg.jpeg')%>');">
  <h1 class="font-bold text-4xl font-lexendZetta mb-6" id="title">Edit Jewelry Item</h1>
  <%= render "form", jewelry_item: @jewelry_item %>  
</div>
