#link-container-lg {
    display: none;
}

#link-container-sm {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.title {
    position: absolute;
    top: -5px;
    left: -5px;
    transform: translate(-5px, -5px);
    font-size: calc(20vw);
    line-height: 60px;
}

#title-orange {    
    color: #FF8000;    
}

#title-white {
    color: #FFFFFF;
    font-family: 'Times New Roman', Times, serif;
    font-size: calc(27vw);
    line-height: 90px;
}

#title-gray {
    color: #A0A6A9;
    font-family: luminari, fantasy;
}

#title-green {
    color: #51DA55;
}

#title-pink {
    color: #FFBCF6;       
    font-family: "M PLUS Rounded 1c"; 
    font-weight: bold;
}

#title-red {
    color: #D31D1D;
    font-stretch: condensed;    
}

@media (min-width: 1024px) {
    #link-container-lg {
        display: flex;
    }


    #link-container-sm {
        display: none;
    }

    .title {
        font-size: 10rem;
        position: absolute;
        top: -10px;
        left: -10px;
        transform: translate(-10px, -10px);
        line-height: 10rem;
    }

    #title-orange {
        top: -15px;
        left: -5px;
        transform: translate(-5px, -15px);
    }

    #title-white {
        font-size: 11rem;
        top: 5px;
        left: -10px;
        transform: translate(-10px, 5px);                
    }

    #title-red {
        font-size: 11rem;
        top: -15px;
        left: -10px;
        transform: translate(-10px, -15px);        
    }

    #title-pink {
        top: -15px;
        left: -10px;
        transform: translate(-15px, -10px);
    }

    #title-green {
        top: -15px;
        left: -10px;
        transform: translate(-10px, -15px);
    }
}

@media (min-width: 450px) and (max-width: 1023px) {
    .title {
        line-height: 10rem !important;
    }
}