.modelling-container {
    background-color: #8C8AFF;     
    padding-top: 50px;  
}

.modelling-container section {
    padding: 0 20px;
}

.modelling-title {
    color: #FFC876;
    font-family: Lexend Zetta;    
    font-size: 2rem;
    margin-bottom: 20px;
}

#modelling-border {
    display: none;
}

#good-squish-1 {
    position: absolute;
    height: 125px;
    width: 75px;
    left: 10px;
    top: 30px;    
}

#good-squish-gif {
    position: absolute;
    height: 80px;
    width: 150px;
    top: -20px;
    right: 10px;
}

#personal-2 {
    position: absolute;
    bottom: -10px;
    right: -30px;    
    transform: translate(30px, 10px);
}

#dazed-section img {
    object-fit: cover;
    object-position: center;
}

@media (min-width: 1024px) {   
    .modelling-container {
        padding-top: 100px;
    } 

    #modelling-border {
        display: block;
        position: fixed;
        top: 0px;
        left: 0px;
        height: 100vh;
        width: 100vw;
        z-index: 10;
        padding-top: 20px;
    }

    .modelling-title {
        font-size: 10rem;
        margin-bottom: 45px;
    }

    .modelling-container section {
        padding: 0 100px;
    }

    #good-squish-1 {
        top: 50%;
        left: 50px;
        transform: translate(50px, -50%);
        height: 300px;
        width: 200px;
    }

    #good-squish-gif {
        bottom: -40px;
        right: 50px;
        transform: translate(-50px, 40px);
        height: 175px;
        width: 300px;
    }
}