/* body {
    background-color: #8C8AFF;
} */

.modelling-container {
    padding-top: 50px;  
    overflow-x: hidden;
    height: 100vh;
    overflow-y: scroll;    
    background-color: #8C8AFF;
}

.modelling-container section {
    padding: 0 20px;
}

.sixth-section {
    padding: 0;
}

.modelling-title {
    color: #FFC876;
    font-family: Lexend Zetta;    
    font-size: 2rem;
    margin-bottom: 20px;
}

#modelling-border-1, #modelling-border-2 {
    display: none;
}

.second-section {
    margin-bottom: 50px;
}

#good-squish-1 {
    position: absolute;
    height: 125px;
    width: 75px;
    left: 10px;
    top: 30px;    
}

#good-squish-gif {
    position: absolute;
    height: 80px;
    width: 150px;
    top: -20px;
    right: 10px;
}

#personal-title-mobile {
    font-size: 0.95rem;
    margin-bottom: 10px;
}

#personal-title-desktop {
    display: none;
}

#personal-1 {
    height: auto;
    width: 80%;
}

#personal-2 {    
    position: absolute;
    bottom: -50px;
    right: 0px;
    height: 150px;
    width: 190px;
}

#yoga-2, #yoga-3, #yoga-4 {
    position: absolute;
}

#yoga-1 {
    height: auto;
    width: 90%;
    margin: 0 auto;
}

#yoga-2 {    
    top: -50px;
    left: -10px;
    height: 75px;
    width: 120px;
}

#yoga-3 {
    height: 130px;
    width: 180px;
    bottom: -60px;
    right: -10px;
}

#yoga-4 {
    height: 100px;
    width: 150px;
    top: -50px;
    right: -10px;
}

#hysteric-rooms-2 {
    height: 120px;
    width: 200px;
    margin-left: -125px;
    margin-bottom: -50px;
}

#dazed-section img {
    object-fit: cover;
    object-position: center;
}

@media (min-width: 1024px) {   
    .modelling-container {
        padding-top: 100px;
        z-index: 2;
    }     

    .sixth-section {
        padding: 0 20px;
    }

    #modelling-border-1 {
        display: block;
        position: fixed;
        top: 30px;
        left: 50%;
        height: 8vh;
        width: 87vw;
        z-index: 5;        
        transform: translateX(-50%);
    }

    #modelling-border-2 {
        display: block;
        position: fixed;
        top: 15px;
        left: 10px;
        height: 95vh;
        width: 5vw;
        z-index: 5;        
        /* transform: translateX(-50%);     */
    }

    .modelling-title {
        font-size: 10rem;
        margin-bottom: 45px;
    }

    .modelling-container section {
        padding: 0 100px;
    }

    .second-section {
        margin-bottom: 150px;
    }

    #good-squish-1 {
        top: 50%;
        left: 50px;
        transform: translate(50px, -50%);
        height: 300px;
        width: 200px;
    }

    #good-squish-gif {
        bottom: -40px;
        right: 50px;
        transform: translate(-50px, 40px);
        height: 175px;
        width: 300px;
    }

    #personal-title-mobile {
        display: none;
    }

    #personal-title-desktop {
        display: block;
    }

    #personal-1 {
        height: 270px; 
        width: 350px;
    }   

    #personal-2 {
        height: 120px; 
        width: 160px;
        bottom: -10px;
        right: -30px;    
        transform: translate(30px, 10px);
    }

    #yoga-1 {
        height: 450px;
        width: 700px;
    }

    #yoga-2 {
        top: -60px; 
        left: -50px; 
        height: 120px; 
        width: 200px;
    }

    #yoga-3 {        
        bottom: -60px; 
        right: 5px; 
        height: 200px; 
        width: 300px
    }

    #yoga-4 {        
        top: -70px; 
        right: 5px; 
        height: 225px; 
        width: 350px;
    }

    #hysteric-rooms-2 {
        margin-left: -150px; 
        margin-bottom: -75px;
        height: 250px; 
        width: 450px;
    }
}