.modelling-container {
    background-color: #8C8AFF;
    padding: 25px 50px 50px 50px;
}

.modelling-title {
    color: #FFC876;
    font-family: Lexend Zetta;    
    font-size: 10rem;
    margin-bottom: 45px;
}

.border-image {
    position: fixed;
    top: 0px;
}

.first-section {
    /* height: 24rem; */
}

#good-squish-1 {
    position: absolute;
    top: 50%;
    left: -60px;
    transform: translate(60px, -50%);
}

#good-squish-gif {
    position: absolute;
    bottom: -40px;
    right: 0px;
    transform: translate(0px, 40px);
}

#personal-2 {
    position: absolute;
    bottom: -10px;
    right: -50px;
    transform: translate(50px, 10px);
}