.book {
    display: flex;
    perspective: 1200px;
}

.page {
    position: relative;
    width: 50%;
    height: 100%;
}

.zine-container {
    height: 50%;    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (min-width: 1024px) {
    .zine-container {
        height: 100%;
    }
}