.book {
    display: flex;
    perspective: 1200px;
}

.page {
    position: relative;
    width: 50%;
    height: 100%;
}

.zine-container {   
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form {
    width: 120px;
  }

#second-page {
    display: none;
}

@media (min-width: 1024px) {
    .zine-container {
        height: 100%;
    }

    form {
        width: auto;
    }

    #second-page {
        display: block;
    }
}